html,
body {
  width: fit-content;
  height: 300px;
  margin: 0;
  background-color: rgb(42, 41, 49);
}

.hidden {
  display: none;
}

.button {
  display: none;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

p{
    margin:0;
    font-size: 1.2em;
}

#connect{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#grid{
    width: 100%;
    justify-content: space-evenly;
    display: none;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
}

#popup-content{
    width: 300px;
    padding: 0.5rem 0;
}

.historique{
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1.2rem;
}

.reset {
  background-color: #fbfbc9;
}

.reset:hover {
  background-color: #eaea9d;
}